/* Import Abril Fatface font from Google Fonts */
@import url('https://fonts.googleapis.com/css2?family=Abril+Fatface&display=swap');

/* styles.css content */
body {
    font-family: sans-serif;
}

h1 {
    font-family: 'Abril Fatface', cursive;
    color: #67000D; /* Dark Crimson */
}